@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-animated-gradient {
  background: linear-gradient(270deg, #60a5fa, #93c5fd, #bfdbfe);
  background-size: 600% 600%;
  animation: gradientMove 15s ease infinite;
}
