@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-wave-slow {
  animation: wave 18s linear infinite;
}

.animate-wave-fast {
  animation: wave 10s linear infinite;
}

.animate-wave-mid {
  animation: wave 14s linear infinite;
}

html {
  scroll-behavior: smooth;
}
